.b {
    border: 3px red solid;
}

:root {
    --body-font: "helvetica neue", sans-serif;
    --black: #000000;
    --black-muted: #a4a3a3;
    --white: #ffffff;
    --gray-dark: #cfcfcf;
    --gray: #f4f4f4;
    --light-gray: #f5fbff;
    --blue: #0989ff;
    --blue-light: #c2e4fe;
    --red: #f00303;
    --green-light: #00d870;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    color: var(--black);
}

button {
    background: none;
    height: fit-content;
    font-family: var(--body-font);
    border: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a,
button {
    cursor: pointer;
}

* svg {
    display: flex;
    flex-shrink: 0;
    height: auto;
}

.container {
    max-width: calc(1420px + 80px);
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
    overflow: hidden;
}

@media (max-width: 1440px) {
    .container {
        max-width: 1440px;
        padding-left: 4%;
        padding-right: 4%;
    }
}
